@{
	ViewBag.Title = "Home Page";
}

<div id="stage">

	<div id="stage-caption">


		<h1 class="tlt" data-in-effect="rollIn" >Let's talk beauty products.</h1>
	   

		<h1 style="font-family:open sans , sans-serif; padding-top:20px; color:#000000; font-size:36px;line-height: 73px;text-shadow: none; font-weight:100; ">
			At faduma's beauty blog
		</h1><h1 style="font-style:italic; font-weight:800;font-size:36px;line-height: 73px;text-shadow: none; font-family: 'Raleway', 'Blackadder ITC'; "> In a new way.</h1>
		<p style="color:black;">
		   A blog about beauty , cosmetics and fashion.
		</p>

		<a href="" class="btn btn-lg btn-success">Latest news</a>

		@*<br />
		<br />
		<br />*@

	</div>
</div>
<section id="feature-enter" class="feature-enter">
	<div class="container">
		<div class="row">
			<div class="feature-content">
				<div class="col-md-12">
					<h1 style="font-family: 'Raleway', sans-serif,'Blackadder ITC'; font-weight:900">Latest <strong style=" color: rgba(255, 156, 51, 0.86)";>stories.</strong></h1>
					<div class="container body-content">
						<div class="row">
							<div class="col-md-3">
							  
								<div class="card" style="width: 20rem;">
									<img class="card-img-top" src="~/Content/pexels-photo-47401.jpeg" alt="Card image cap">
									<div class="card-block">
										<h4 class="card-title">7 things you have to know</h4>
										<p class="card-text">7 things you have to know</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>

							</div>

							<div class="col-md-3">
								<div class="card" style="width: 20rem;">
									<img class="card-img-top" src="~/Content/pexels-photo-47401.jpeg" alt="Card image cap">
									<div class="card-block">
										<h4 class="card-title">7 things you have to know</h4>
										<p class="card-text">7 things you have to know</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="card" style="width: 20rem;">
									<img class="card-img-top" src="~/Content/pexels-photo-47401.jpeg" alt="Card image cap">
									<div class="card-block">
										<h4 class="card-title">Story</h4>
										<p class="card-text">8 things you have to know</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>

							</div>

							<div class="col-md-3">
								<div class="card" style="width: 20rem;">
									<img class="card-img-top" src="~/Content/pexels-photo-47401.jpeg" alt="Card image cap">
									<div class="card-block">
										<h4 class="card-title">Story</h4>
										<p class="card-text">10 things you have to know</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>

							</div>
							<div>



							</div>
						</div>



					</div>

				</div>

			</div>

		</div>
	</div>
</section>


<section id="feature-one" class="feature-two">
	<div class="container">
		<div class="row">
			<div class="feature-content">
				<div class="col-lg-6">
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/JdE-ywYbWbo" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="col-lg-5 col-lg-offset-1">
					<h6>Watch This</h6>
					<h2>Real time Architectural rendering</h2>
					<p class="lead">
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="feature-pilar" class="feature-pilar">
	<div class="container">
		<div class="row">
			<div class="feature-content">
				<div class="col-sm-12">
					<h1 style="color:#ff3364;font-family: 'Raleway', sans-serif;">Our three <strong>pillars of service</strong></h1>

					<div class="col-sm-4">
						<br /><br />     <div><h3>Music</h3></div><br />
						<div><img src="assets/music-icon-61648.png" height="70" width="70" /></div>

					</div>
					<div class="col-sm-4">
						<br /><br />     <div><h3>Augmented Reality</h3></div><br />
						<div><img src="assets/arimage.png" height="70" width="70" /></div>

					</div>
					<div class="col-sm-4">
						<br /><br /><div>
							<h3>Web design</h3>
						</div>
						<br />
						<div>
							<img src="assets/webikicon.png" height="70" width="70" />

						</div>

					</div>

				</div>

			</div>
		</div>
	</div>


</section>
<section id="feature-two" class="feature-dark">
	<div class="container">
		<div class="row">
			<div class="feature-content">
				<div class="col-lg-6 feature-caption">
					<h6>We make music for all your needs</h6>
					<h2>Hows it dooooo mang</h2>
					<div class="lead">
						"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores "
					</div>
					<a href="http://alexa87studios.azurewebsites.net/" role="button" class="btn btn-lg btn-success">Listen to our music</a>
					<br />
				</div>
				<div class="col-lg-6 text-sm-center hidden-sm-down">
					<img src="assets/abstract-music-rock-bw.jpg" class="img-rounded" />
				</div>

			</div>
		</div>
	</div>

</section>

<link href="~/textil/animate.css" rel="stylesheet" />
<script src="~/textil/jquery.fittext.js"></script>
<script src="~/textil/jquery.lettering.js"></script>

<script src="~/textil/jquery.textillate.js"></script>

@section scripts{ 
<script>

    $(function () {
        $('.tlt').textillate();


})
</script>
}









@*<div class="jumbotron">
	<h1>ASP.NET</h1>
	<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
	<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Getting started</h2>
		<p>
			ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
			enables a clean separation of concerns and gives you full control over markup
			for enjoyable, agile development.
		</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Get more libraries</h2>
		<p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<h2>Web Hosting</h2>
		<p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
		<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
	</div>
</div>*@